h1 {
  color: orangered;
}

div p {
  color: orchid;
}

.big.orange {
  background-color: orange;
  padding: 200px;
}

#parent-div > p {
  background-color: plum;
}

#all-child-elements * {
  background-color: blueviolet;
}

input[type="textarea"] {
  border: 2px solid red;
}

.the-same {
  font-size: 48px;
  font-weight: 700;
  color: crimson;
}

#all-p p:not(.not-this) {
  color: green;
}

.link:hover {
  color: green;
}

h4::first-letter {
  font-size: 4rem;
}

/* Other lesson materials */

/* h1 {
  display: block;
}

h2 {
  display: inline-block;
}

h2.cool-h2 {
  font-size: 2em;
  background-color: peru;
}

.cool-h2 {
  font-size: 2em;
  background-color: bisque;
}

h3 {
  display: inline;
}

.bold {
  font-weight: 800;
}

#p-tag-pink {
  text-align: end;
  color: pink;
  font-weight: 800;
  background-color: purple;
}

.cool-h2 div {
  background-color: royalblue;
}

.all-paragraphs * {
  background-color: sandybrown;
}

.first-level > p {
  background-color: seagreen;
}

input:checked[type="checkbox"] {
  display: none;
} */
