body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: 13% 7% 13% 47% 13% 7%;
  grid-template-rows: repeat(4, calc(100% / 4));
  width: 500px;
  height: 500px;
}

.red {
  background: red;
  grid-area: 1 / 1 / 5 / 3;
}

.black {
  background: black;
  grid-area: 1 / 2 / 3 / 4;
}

.green {
  background: green;
  grid-area: 1 / 4 / 2 / 8;
}

.red-2 {
  background: red;
  grid-area: 2 / 4 / 3 / 5;
}

.blue-1 {
  background: #1a3454;
  grid-area: 4 / 2 / 5 / 6;
}

.blue-2 {
  background: #142232;
  grid-area: 3 / 3 / 4 / 5;
}

.brown {
  background: #604427;
  grid-area: 3 / 6 / 5 / 7;
}
