/* .checked {
  text-decoration: overline;
} */

p {
  display: inline;
}

input:checked ~ p {
  color: gray;
  text-decoration: line-through;
}

.handle {
  margin-right: 8px;
  cursor: grab;
  color: grey;
}

.handle:active {
  cursor: grabbing;
}
